In [3]:
#Print a list of booleans using numpy for which my_house > your_house.
my = [18.0, 20.0, 10.75, 9.50]
your = [14.0, 24.0, 14.25, 9.0]
import numpy as np
my_house = np.array(my)
your_house = np.array(your)
print(my_house > your_house)

#Now print a list of booleans whether my_house greater than 18.5 or smaller than 10 using numpy
print(np.logical_or(my_house > 18.5, my_house < 10))

## Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[ True False False  True]
[False  True False  True]
[False False False  True]

In [13]:
#Now open read the csv file from C:/Users/sugur.LAPTOP-3N7FMET3.000/Documents/cars5.
#Also, whenever a csv file is imported using pandas, it is in type dataframe.
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
import pandas as pd 
cars = pd.read_csv("C:/Users/sugur.LAPTOP-3N7FMET3.000/Documents/cars5.csv")
cars.index = row_labels
print(cars)

#Now make a list of booleans which the country drives right
print(cars[cars['drives_right'] == True])

#Print the rows which has a cars per capita over 500
print(cars[cars['cars_per_cap'] > 500])# areas list


# Iterate over rows of cars and print all the elements to produce a Pandas script
for labs, rows in cars.iterrows():
    print(labs)
    print(rows)
    
#Add the new column COUNTRY by making all items in country upper case
for labs, rows in cars.iterrows():
    cars.loc[labs, 'COUNTRY'] = rows['country'].upper()

print(cars)

#Change the COUNTRY column so the items are all in lower case, this time using a simpler method
    
cars["COUNTRY"] = cars["country"].apply(str.lower)
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
US
country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object
AUS
country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object
JPN
country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object
IN
country         India
drives_right    False
cars_per_cap       18
Name: IN, dtype: object
RU
country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object
MOR
country         Morocco
drives_right       True
cars_per_cap         70
Name: MOR, dtype: object
EG
country         Egypt
drives_right     True
cars_per_cap       45
Name: EG, dtype: object
           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JPN          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA
MOR        Morocco          True            70        MOROCCO
EG           Egypt          True            45          EGYPT
           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  united states
AUS      Australia         False           731      australia
JPN          Japan         False           588          japan
IN           India         False            18          india
RU          Russia          True           200         russia
MOR        Morocco          True            70        morocco
EG           Egypt          True            45          egypt

In [24]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

#Create a for loop that prints all the rooms in areas. Use a function to print the count of the item printed in a for loop.
for numbers, rooms in enumerate(areas):
    print( "room " + str(numbers + 1) + ": " + str(rooms))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [27]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

#Now iterate over the values and print 'spain: madrid' using a for loop
for key, value in europe.items():
    print(key + ": " + value)

spain: madrid
france: paris
germany: berlin
norway: oslo
italy: rome
poland: warsaw
austria: vienna

In [36]:
seq = [[0,1,2], [3,4,5], [6,7,8]]
#First use numpy to print all elements in the 2D numpy array, seq
np_seq = np.array(seq)
for x in np.nditer(np_seq):
    print(x)

#Then use normal format to print all elements
for y in seq:
    for z in y:
        print(z)

0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8