In [ ]:
#Print a list of booleans using numpy for which my_house > your_house.
my = [18.0, 20.0, 10.75, 9.50]
your = [14.0, 24.0, 14.25, 9.0]


#Now print a list of booleans whether my_house greater than 18.5 or smaller than 10 using numpy


## Both my_house and your_house smaller than 11

In [ ]:
#Now open read the csv file from C:/Users/sugur.LAPTOP-3N7FMET3.000/Documents/cars5.
#Also, whenever a csv file is imported using pandas, it is in type dataframe.
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']


#Now make a list of booleans which the country drives right


#Print the rows which has a cars per capita over 500



# Iterate over rows of cars and print all the elements to produce a Pandas script

    
#Add the new column COUNTRY by making all items in country upper case


#Change the COUNTRY column so the items are all in lower case, this time using a simpler method

In [ ]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

#Create a for loop that prints all the rooms in areas. Use a function to print the count of the item printed in a for loop.

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

#Now iterate over the values and print 'spain: madrid' using a for loop

In [ ]:
seq = [[0,1,2], [3,4,5], [6,7,8]]
#First use numpy to print all elements in the 2D numpy array, seq


#Then use normal format to print all elements